PyYAML==5.1
cryptography==2.4.2
paramiko==2.4.2
flask==1.0.2
flask_restful==0.3.7
git+https://github.com/gaf3/opengui.git@master#egg=opengui
requests==2.21.0
pyasn1==0.4.2
git+https://github.com/klot-io/pykube.git@master#egg=pykube
coverage==4.5.1