[Unit]
Description=Klot I/O Config Daemon

[Service]
Environment=PYTHONUNBUFFERED=1
Environment=PYTHONPATH=/opt/klot-io/lib
ExecStart=/opt/klot-io/bin/daemon.py
Restart=always

[Install]
WantedBy=multi-user.target 