[Unit]
Description=Klot I/O Name DNS

[Service]
Environment=PYTHONUNBUFFERED=1
Environment=PYTHONPATH=/opt/klot-io/lib
ExecStart=/opt/klot-io/bin/dns.py
Restart=always

[Install]
WantedBy=multi-user.target 